/* * * * * * * * * * * * */
/*                       */
/*      Ribbon Style     */
/*                       */
/* * * * * * * * * * * * */

body {
    font-family: Helvetica, Arial, sans-serif;
}

.ribbon-wrapper {
    position: relative;
}

.ribbon-front {
    height: 40px;
    width: 400px;
    position: relative;
    left:-10px;
    z-index: 2;
    
    background: #ff9600;
    background: -moz-linear-gradient(top,  #f1a400 0%, #ff7516 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1a400), color-stop(100%, #ff7516));
    background: -webkit-linear-gradient(top,  #f1a400 0%, #ff7516 100%);
    background: -o-linear-gradient(top,  #f1a400 0%, #ff7516 100%);
    background: -ms-linear-gradient(top,  #f1a400 0%, #ff7516 100%);
    background: linear-gradient(top,  #f1a400 0%, #ff7516 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1a400', endColorstr='#ff7516', GradientType=0 );
}

.ribbon-front h2 {
    padding-top: 7px;
    color: #fff;
    text-align: center;
    text-wight: bold;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.ribbon-front {
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.55);
    -khtml-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.55);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.55);
}

.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
    position: absolute;
    z-index: 1;
    border-style:solid;
    height:0px;
    width:0px;
}

.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
    top: 40px;
}

.ribbon-edge-bottomleft {
    left: -10px;
    border-color: transparent #BC682F transparent transparent;
}

.ribbon-edge-bottomleft {
    border-width: 0 10px 10px 0;
}

.ribbon-edge-bottomright {
    left: 380px;
    border-color: transparent transparent transparent #BC682F;
}

.ribbon-edge-bottomright {
    border-width: 0 0 10px 10px;
}