body {
  background: url('../../../img/bg-pattern.png');
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #333;
}





/*======================================================================/
/ PROFILE HEADER CODE
/======================================================================*/

#profile-header {
  background: url(../img/profile-header-bg.png);
}

#profile-header .personal-info {
  float: left;
  padding: 0;
  font-size: 14px;
  width: 700px;
}

#profile-header .personal-info .profile-picture {
  float: left;
}

#profile-header .personal-info .profile-picture img {
  width: 160px;
  height: 160px;
  display: block;
}

#profile-header .personal-info .content {
  float: left;
  width: 480px;
  height: 120px;
  padding: 20px;
}

#profile-header .personal-info .content h1 {
  font-weight: 700;
  font-size: 30px;
}

#profile-header .personal-info .content .city {
  font-style: italic;
  color: #999;
}

#profile-header .personal-info .content .bio {
  line-height: 16px;
}

#profile-header .personal-info .content .interests {
  margin-top: 9px;
  color: #999;
}


#profile-header .stats-summary {
    height: 120px;
}




/*======================================================================/
/ MENU BAR CODE --- SLIGHTLY CHANGED
/======================================================================*/

#menu-bar {
  margin: 0;
  padding: 0;
  background: #F7F7F7;
  overflow: hidden;
  border-bottom: none;
  line-height: 40px;
  box-shadow:     inset 0 1px #fff, 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow:  inset 0 1px #fff, 0 1px 3px rgba(34, 25, 25, 0.4);
  -webkit-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34, 25, 25, 0.4);
  z-index: 100;
  position: relative;
  height: 40px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.9);
  z-index: 1000;
}

#menu-bar.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: -1px;
}

#menu-bar .fixed-container {
	overflow: hidden;
	margin: 0px auto -1px;
	width: 940px;
}

#menu-bar a {
	text-decoration: none;
}

#menu-bar ul {
	float: left;
	margin: 0;
}


#menu-bar ul.links {
	float: left;
}

#menu-bar ul.layout-toggle {
	float: right;
}

#menu-bar ul li {
	list-style: none;
	display: list-item;
	float: left;
}

#menu-bar ul li a {
	display: block;
	padding: 0 15px;
	font-size: 14px;
	font-weight: 300;
  color: #555;
	border-top: 1px solid #fff;
	height: 40px;
	line-height: 40px;
}

#menu-bar ul.layout-toggle li a {
	padding: 0;
}

#menu-bar ul li a:hover {
	background-color: #e1e1e1;
	border-top-color: #f1f1f1;
}

#menu-bar ul li a:active {
	background-color: #888;
	color: #fff;
	border-top-color: #888;
	text-shadow: none;
}

#menu-bar ul li a.selected {
	position: relative;
	overflow: hidden;
	border-left: 1px solid #cdc5c5;
	border-right: 1px solid #cdc5c5;
	border-top: 1px solid #f3f3f2;
	text-shadow: #fff 0 1px 0;
	background: #d8d8d8;
	background: -moz-linear-gradient(top,  #d8d8d8 0%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d8d8), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top,  #d8d8d8 0%,#f2f2f2 100%);
	background: -o-linear-gradient(top,  #d8d8d8 0%,#f2f2f2 100%);
	background: -ms-linear-gradient(top,  #d8d8d8 0%,#f2f2f2 100%);
	background: linear-gradient(top,  #d8d8d8 0%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#f2f2f2',GradientType=0 );
}

#menu-bar ul li a.selected:active {
	color: #555;
}

#menu-bar ul li a.selected:before {
	position: absolute;
	left: 0;
	top: -10px;
	bottom: -10px;
	right: 0;
	content: "";
	box-shadow: inset 0 0px 10px rgba(25, 25, 25, 0.1);
	-moz-box-shadow: inset 0 0px 10px rgba(25, 25, 25, 0.1);
	-webkit-box-shadow: inset 0 0px 10px rgba(25, 25, 25, 0.1);
}

#menu-bar ul li a i {
	width: inherit;
	height: inherit;
	line-height: 30px;
	display: inline-block;
	width: 30px;
}

#menu-bar ul li a.list-layout-button i, #menu-bar ul li a.list-layout-button.selected:active i {
	background: url(../img/homepage-sprite.png) no-repeat -56px -40px;
}

#menu-bar ul li a.list-layout-button:active i {
	background: url(../img/homepage-sprite.png) no-repeat -26px -40px;
}

#menu-bar ul li a.grid-layout-button i, #menu-bar ul li a.grid-layout-button.selected:active i {
	background: url(../img/homepage-sprite.png) no-repeat -56px 0px;
}

#menu-bar ul li a.grid-layout-button:active i {
	background: url(../img/homepage-sprite.png) no-repeat -26px 0px;
}


#menu-bar #myEventsSearchTerm {
	float: right;
	width: 220px;
	margin-top: 7px;
}

#menu-bar #myEventsSearchTerm input {
	width: 182px;
	margin: 0;
	float: right;
}

#menu-bar .search-button {
	width: 26px;
	height: 26px;
	float: right;
}

#menu-bar .search-button .icon_wrapper {
  margin: 4px;
}

#menu-bar .search-button .icon {
  background: url(../img/my_events-sprite.png) no-repeat;
  display: block;
  background-position: -243px -3px;
  width: 18px;
  height: 18px;
}





/*======================================================================/
/ EVENTS CODE 
/======================================================================*/

#eventList .event,
#eventList .event-short {
  padding: 0;
  width: 940px;
  font-size: 16px;
}

#eventList .main {
  float: left;
}

#eventList .event .main {
  height: 120px;
}

#eventList .event-short .main {
  height: 90px;
}

#eventList .main .event-info {
  float: left;
  position: relative;
  padding: 0;
  font-size: 14px;
  width: 720px;
  z-index: 500;
}

#eventList .main .event-info .event-poster {
  float: left;
}

#eventList .event .main .event-info .event-poster img {
  width: 90px;
  height: 120px;
  display: block;
}

#eventList .event-short .main .event-info .event-poster img {
  width: 60px;
  height: 90px;
  display: block;
}

#eventList .main .event-info .content {
  float: left;
  padding: 20px;
}

#eventList .event .main .event-info .content {
  width: 590px;
}

#eventList .event-short .main .event-info .content {
  width: 620px;
}

#eventList .event-info table {
	border-collapse: collapse;
}

#eventList .event .event-info table {
	height: 80px;
}

#eventList .event-info table tr:first-child {
	vertical-align: top;
}

#eventList .event-info table tr:last-child {
	vertical-align: bottom;
	line-height: 16px;
}

#eventList .event-info td {
	max-width: 590px;
	white-space: nowrap;
	overflow: hidden;
	background: #fff;
}

#eventList .event-info table.info {
	position: absolute;
}

#eventList .event-info table.date {
	position: absolute;
	right: 20px;
	text-align: right;
}

#eventList .event-info table.date td:last-child {
	padding-left: 10px;
}

#eventList .event-info table.date .fade {
	width: 40px;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}







#eventList .event .main .event-info .content {
	height: 80px;
  position: relative;	
}


#eventList .main .event-info .content h2 {
  line-height: 28px;
}

#eventList .event-info .city {
  font-style: italic;
  color: #999;
}

#eventList .event-short .event-info .city,
#eventList .event-short .event-info .time {
  margin-top: 4px;
}

#eventList .event-info .time,
#eventList .event-info .time {
  color: #999;
}







#eventList .information {
  font-weight: 700;
  font-size: 16px;
}

#eventList .information .icon_wrapper {
  margin-right: 4px;
  display: block;
  height: inherit;
  float: left;
}

#eventList .information .icon {
  display: block;
  float: left;
  background: url(../img/my_events-sprite.png) no-repeat;
}






#eventList .people-attending.information span {
	color: #333;
	font-weight: 300;
}

#eventList .people-attending .icon_wrapper {
  padding: 2px 0 1px 0;
}

#eventList .people-attending .icon {
  width: 24px;
  height: 14px;
	background: url(../img/friends-16.png) no-repeat;
}




#eventList .closed_sales-event span {
  color: #5aa500;
}

#eventList .published-event span {
  color: #5aa500;
}

#eventList .published-event .icon_wrapper {
  padding: 2px 0 1px 0;
}

#eventList .published-event .icon {
  background-position: -172px -4px;
  width: 16px;
  height: 16px;
}

#eventList .canceled-event span {
  color: #cc0000;
}

#eventList .canceled-event .icon_wrapper {
  padding: 2px 0 1px 0;
}

#eventList .canceled-event .icon {
  background-position: -220px -4px;
  width: 16px;
  height: 16px;
}

#eventList .particular-event span {
  color: #0071bc;
}

#eventList .particular-event .icon_wrapper {
  padding: 2px 0 1px 0;
}

#eventList .particular-event .icon {
  background-position: -220px -28px;
  width: 16px;
  height: 16px;
}

#eventList .hidden-event span {
  color: #ff9600;
}

#eventList .hidden-event .icon_wrapper {
  padding: 5px 0 6px 0;
}

#eventList .hidden-event .icon {
  background-position: -192px -8px;
  width: 24px;
  height: 8px;
}

#eventList .draft-event .icon_wrapper {
  padding: 2px 0;
}

#eventList .draft-event .icon {
  background-position: -198px -28px;
  width: 12px;
  height: 15px;
}







#eventList .event .se-panel .close-sales .big-icon-cross {
  background-position: -330px -40px;
}

#eventList .event .se-panel .close-sales:active .big-icon-cross {
  background-position: -330px -60px;
}

#eventList .event .se-panel .people-attending .big-icon-friends {
  background-position: -330px -80px;
}

#eventList .event .se-panel .people-attending:active .big-icon-friends {
  background-position: -330px -100px;
}

#eventList .right-panel {
  width: 220px;
  float: left;
  position: relative;
  background: #e6e6e6;
  z-index: 400;
}

#eventList .event .right-panel {
  height: 120px;
}

#eventList .event-short .right-panel {
  height: 90px;
}


#eventList .action-button {
  float: left;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
}

#eventList .right-panel .action-button {
  height: 59px;
  width: 109px;
  font-weight: 700;
}

#eventList .event-short .right-panel .action-button {
	height: 90px;
}

#eventList .action-button span {
  color: #333;
}

#eventList .action-button:active span {
  color: #fff;
}

#eventList .action-button:hover {
  background-color: #ccc;
  text-decoration: none;
}

#eventList .action-button:active {
  color: #fff;
  background-color: #555;
}

#eventList .action-button.hide-button,
#eventList .action-button.publish-button {
  border-bottom: 1px solid #B3B3B3;
  border-right: 1px solid #B3B3B3;
}

#eventList .action-button.hide-button:active,
#eventList .action-button.publish-button:active {
  border-bottom: 1px solid #555;
  border-right: 1px solid #555;
}

#eventList .action-button.dashboard-button {
  border-left: 1px solid #fff;
  border-bottom: 1px solid #B3B3B3;
}

#eventList .action-button.dashboard-button:active {
  border-left: 1px solid #555;
  border-bottom: 1px solid #555;
}

#eventList .action-button.edit-button {
  border-right: 1px solid #B3B3B3;
  border-top: 1px solid #fff;
}

#eventList .action-button.edit-button:active {
  border-right: 1px solid #555;
  border-top: 1px solid #555;
}

#eventList .action-button.preview-button {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
}

#eventList .action-button.preview-button:active {
  border-left: 1px solid #555;
  border-top: 1px solid #555;
}

#eventList .action-button.print_all-button {
  border-right: 1px solid #b3b3b3;
}

#eventList .action-button.print_all-button:active {
  border-right: 1px solid #555;
}

#eventList .action-button.send_all_sms-button {
  border-left: 1px solid #fff;
}

#eventList .action-button.send_all_sms-button:active {
  border-left: 1px solid #555;
}

#eventList .right-panel .icon_wrapper {
  margin-top: 12px;
  margin-bottom: 4px;
  padding: 1px 43px;
}

#eventList .action-button .icon {
  background: url(../img/my_events-sprite.png) no-repeat;
  display: block;
}

#eventList .publish-button .icon_wrapper {
  padding: 0 47px;
}

#eventList .publish-button .icon {
  background-position: -52px -4px;
  width: 16px;
  height: 16px;
}

#eventList .publish-button:active .icon {
  background-position: -52px -28px;
}

#eventList .hide-button .icon_wrapper {
  padding: 4px 43px;
}

#eventList .hide-button .icon {
  background-position: -72px -8px;
  width: 24px;
  height: 8px;
}

#eventList .hide-button:active .icon {
  background-position: -72px -32px;
}

#eventList .dashboard-button .icon_wrapper {
  padding: 0px 45px;
}

#eventList .dashboard-button .icon {
  background-position: -3px -4px;
  width: 18px;
  height: 16px;
}

#eventList .dashboard-button:active .icon {
  background-position: -3px -28px;
}

#eventList .edit-button .icon_wrapper {
  padding: 0 43px 0 47px;
}

#eventList .edit-button .icon {
  background-position: -100px -4px;
  width: 19px;
  height: 16px;
}

#eventList .edit-button:active .icon {
  background-position: -100px -28px;
}

#eventList .preview-button .icon_wrapper {
  padding: 2px 44px;
}

#eventList .preview-button .icon {
  background-position: -26px -6px;
  width: 20px;
  height: 12px;
}

#eventList .preview-button:active .icon {
  background-position: -26px -30px;
}

#eventList .event-short .right-panel .icon_wrapper {
  margin-top: 10px;
  margin-bottom: 2px;
  padding: 1px 39px;
}

#eventList .event-short .right-panel .icon {
	background: url(../img/my_tickets-sprite.png);
}

#eventList .print_all-button .icon_wrapper {
  padding-top: 2px !important;
	padding-bottom: 2px !important;
}

#eventList .print_all-button .icon {
	background-position: -2px -4px !important;
	width: 32px;
	height: 28px;
}

#eventList .print_all-button:active .icon {
  background-position: -2px -40px !important;
}

#eventList .send_all_sms-button .icon_wrapper {
  padding-left: 46px !important;
	padding-right: 46px !important;
}

#eventList .send_all_sms-button .icon {
	background-position: -46px -3px !important;
  width: 16px;
  height: 30px;
}

#eventList .send_all_sms-button:active .icon {
  background-position: -46px -39px !important;
}

/* BEGIN SOCIAL STATS REDESIGN
---------------------------------------------------------------------------------------------------- */
#eventList .event .right-panel .social-stats {
  width: 215px;
  height: 84px;
  border-bottom: 1px solid #b3b3b3;
  padding: 3px 2px 3px 3px;
  font-weight: 400;
}

#eventList .event .right-panel .social-stats .profile-pictures {
  display: inline-block;
}

#eventList .event .right-panel .social-stats .profile-pictures img,
#eventList .event .right-panel .social-stats .open-avatar {
  float:left;
  display: block;
  width: 41px;
  height: 41px;
  margin: 1px;
}

#eventList .event .right-panel .social-stats .open-avatar {
    width: 39px;
    height: 39px;
    border-style: dashed;
    border-width: 1px;
    border-color: #bbb;
    border-radius: 4px;
}

#eventList .event .right-panel .social-stats .profile-pictures img:last-child {
  margin-right: 0;
}

#eventList .event .right-panel .going-button {
  float: left;
  height: 29px;
  width: 220px;
	font-size: 18px;
  line-height: 27px;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
	border-top: 1px solid #A8E6FF;
}

#eventList .event .right-panel .going-button:active {
	  text-shadow: rgba(0, 0, 0, 0.7) 0 -1px 0;
		border-top: 1px solid #0084ff;
}
/* END SOCIAL STATS REDESIGN
------------------------------------------------------------------------------------------------------------ */

#eventList .event .right-panel  {
  background-color: #ddd;
}

#eventList .event .right-panel .actions div:active {
  background-color: #555;
}

#eventList .event .right-panel .actions .hide-button,
#eventList .event .right-panel .actions .publish-button {
  border-bottom: 1px solid #B3B3B3;
  border-right: 1px solid #B3B3B3;
}

#eventList .event-short .right-panel .no-tickets {
  line-height: 90px;
  text-align: center;
  font-weight: 700;
}

#eventList .bottom-panel {
	background-color: #f7f7f7;
	height: 30px;
	line-height: 30px;
	text-align: center;
	position: relative;
	float: left;
	width: 940px;
}


#eventList .sw-panel {
  float: left;
  position: relative;
  padding: 0;
  width: 720px;
  z-index: 300;
  background: #f7f7f7;
}

#eventList .sw-panel table,
#eventList .se-panel table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  text-align: right;
}

#eventList .sw-panel table tbody tr td,
#eventList .sw-panel table thead tr th {
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e6e6e6;
}

#eventList .se-panel table tbody tr td,
#eventList .se-panel table thead tr th {
  border-bottom-color: #ddd;
  cursor: pointer;
}

#eventList .sw-panel table tbody tr:first-child td,
#eventList .sw-panel table thead tr:first-child th {
  height: 29px;
  line-height: 29px;
  border-top: none;
}

#eventList .sw-panel table tbody tr:last-child td,
#eventList .sw-panel table thead tr:last-child th {
  height: 29px;
  border-bottom: none;
}

#eventList .event .sw-panel table.sales-stats thead th {
  font-weight: 700;
  border-bottom: 1px solid #e6e6e6;
}

#eventList .event .sw-panel table.sales-stats tbody td {
  border-top: 1px solid #fff;
}

#eventList .event .sw-panel table.sales-stats tr td:last-child,
#eventList .event .sw-panel table tr th:last-child {
  padding-right: 20px;
}

#eventList .event .sw-panel table.sales-stats tr .sales-quantity {
  text-align: left;
}

#eventList .sw-panel table.tickets-table tr .number {
  width: 40px;
}

#eventList .sw-panel table.tickets-table tr .ticket-name {
  text-align: left;
  font-weight: 700;
  padding-left: 20px;
  width: 240px;
}

#eventList .sw-panel table.tickets-table tr .owner-name {
  text-align: left;
  width: 220px;
}

#eventList .sw-panel table.tickets-table tr .ticket-name {
}

#eventList .event .se-panel,
#eventList .event-short .se-panel {
  float: left;
  position: relative;
  padding: 0;
  width: 220px;
  z-index: 200;
  background: #ededed;
}

#eventList .event .se-panel {
  height: 60px;
}

#eventList .status-container {
  display: block;
  clear: both;
  float: right;
}

#eventList .event-status {
  font-weight: 700;
  font-size: 16px;
}

#eventList .event-status .icon_wrapper {
  margin-right: 4px;
  display: block;
  height: inherit;
  float: left;
}

#eventList .event-status .icon {
  display: block;
  float: left;
  background: url(../img/my_events-sprite.png) no-repeat;
}

#eventList .closed_sales-event span {
  color: #5aa500;
}

#eventList .published-event span {
  color: #5aa500;
}

#eventList .published-event .icon_wrapper {
  padding: 2px 0 1px 0;
}

#eventList .published-event .icon {
  background-position: -172px -4px;
  width: 16px;
  height: 16px;
}

#eventList .canceled-event span {
  color: #cc0000;
}

#eventList .canceled-event .icon_wrapper {
  padding: 2px 0 1px 0;
}

#eventList .canceled-event .icon {
  background-position: -220px -4px;
  width: 16px;
  height: 16px;
}

#eventList .particular-event span {
  color: #0071bc;
}

#eventList .particular-event .icon_wrapper {
  padding: 2px 0 1px 0;
}

#eventList .particular-event .icon {
  background-position: -220px -28px;
  width: 16px;
  height: 16px;
}

#eventList .hidden-event span {
  color: #ff9600;
}

#eventList .hidden-event .icon_wrapper {
  padding: 6px 0 5px 0;
}

#eventList .hidden-event .icon {
  background-position: -192px -8px;
  width: 24px;
  height: 8px;
}

#eventList .draft-event .icon_wrapper {
  padding: 2px 0;
}

#eventList .draft-event .icon {
  background-position: -198px -28px;
  width: 12px;
  height: 15px;
}

/* BEGIN SE-PANEL REDESIGN
---------------------------------------------------------------------------------------------------- */

#eventList .se-panel table {
	table-layout: fixed;
}

#eventList .se-panel td {
  height: 28px;
  line-height: 28px;
  border-top: 1px solid #fff;
	border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #fff;
}

#eventList .se-panel td:hover {
  background-color: #e6e6e6;
}

#eventList .se-panel td:active {
  color: #fff;
  background-color: #555;
	border-color: #555;
}

#eventList .se-panel tr:first-child td {
	height: 29px;
  line-height: 29px;
  border-top: none;
}

#eventList .se-panel tr:last-child td {
	height: 29px;
  line-height: 29px;
  border-bottom: none;
}

#eventList .se-panel td:first-child {
  border-left: none;
}

#eventList .se-panel td:last-child{
  border-right: none;
}

#eventList table .action-button {
	float: none;
}

#eventList .se-panel .action-button {
  font-weight: 400;
}

#eventList .closed_sales-button span, #eventList .closed_sales-button:active span {
  color: #ccc;
	text-shadow: 0 1px rgba(255, 255, 255, 0.9);
}

#eventList .closed_sales-button, #eventList .closed_sales-button:hover, #eventList .closed_sales-button:active {
  background: #eee !important;
  cursor: not-allowed;
	border-color: #eee !important;
}

#eventList .se-panel .icon_wrapper {
  margin-right: 2px;
}

#eventList .se-panel .action-button .icon {
  display: inline-block;
  vertical-align: text-bottom;
}

#eventList .people_attending-button .icon {
  background-position: -120px -5px;
  width: 24px;
  height: 16px;
}

#eventList .people_attending-button:active .icon {
  background-position: -120px -29px;
}

#eventList .close_sales-button .icon {
  background-position: -148px -4px;
  width: 16px;
  height: 16px;
}

#eventList .close_sales-button:active .icon {
  background-position: -148px -28px;
}

#eventList .closed_sales-button .icon {
  background-position: -172px -28px;
  width: 16px;
  height: 16px;
}

/* My tickets */
#eventList .event-short .se-panel .icon {
	background: url(../img/my_tickets-sprite.png);
}

#eventList .print_one-button .icon {
  background-position: -76px -5px !important;
  width: 16px;
  height: 14px;
}

#eventList .print_one-button:active .icon {
  background-position: -76px -29px !important;
}

#eventList .send_one_sms-button .icon {
  background-position: -103px -3px !important;
  width: 10px;
  height: 17px;
}

#eventList .send_one_sms-button:active .icon {
  background-position: -103px -27px !important;
}

/* END SE-PANEL REDESIGN
---------------------------------------------------------------------------------------------------- */




/* NEW HEADER
---------------------------------------------------------------------------------------------------- */

.stat-box {
	text-align: center;
}

.stat-box h4 {
	font-size: 36px;
	line-height: 36px;
	font-weight: 300;
}

.stat-box p {
	font-size: 12px;
	line-height: 12px;
	margin-top: 4px;
	text-transform: uppercase;
}

/* END NEW HEADER
---------------------------------------------------------------------------------------------------- */



#eventList .inline-menu .action-button {
	font-weight: 400;
	text-align: left;
	line-height: 28px;
  height: 28px;
  width: 220px;
	border: none;
	border-top: solid 1px #fff;
	border-bottom: 1px solid #B3B3B3;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

#eventList .inline-menu .action-button:active {
	border-top: solid 1px #555;
	border-bottom: 1px solid #555;
	text-shadow: none;
}

#eventList .inline-menu .action-button.selected,
#eventList .inline-menu .action-button:active.selected {
	font-weight: 700;
	background: rgb(178,178,178);
	background: -moz-linear-gradient(top, rgba(178,178,178,1) 0%, rgba(204,204,204,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(178,178,178,1)), color-stop(100%,rgba(204,204,204,1)));
	background: -webkit-linear-gradient(top, rgba(178,178,178,1) 0%,rgba(204,204,204,1) 100%);
	background: -o-linear-gradient(top, rgba(178,178,178,1) 0%,rgba(204,204,204,1) 100%);
	background: -ms-linear-gradient(top, rgba(178,178,178,1) 0%,rgba(204,204,204,1) 100%);
	background: linear-gradient(to bottom, rgba(178,178,178,1) 0%,rgba(204,204,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#cccccc',GradientType=0 );
	border-top: 1px solid #999;
	border-bottom: 1px solid #b3b3b3;
}

#eventList .inline-menu .action-button:first-child {
	border-top: none;
	height: 29px;
}

#eventList .inline-menu .action-button:last-child {
		border-bottom: none;
		height: 29px;
}

#eventList .inline-menu .icon_wrapper {
	display: block;
  float: left;
	margin: 0;
  padding: 1px 2px;
}

#eventList .inline-menu .action-button .icon {
  background: url(../img/dashboard-sprite.png) no-repeat;
  display: block;
}

#eventList .inline-menu .graphics-button .icon_wrapper {
  padding: 7px 12px 6px 13px;
}

#eventList .inline-menu .graphics-button .icon {
  background-position: -4px -5px;
  width: 15px;
  height: 15px;
}

#eventList .inline-menu .graphics-button:active .icon {
  background-position: -4px -29px;
}

#eventList .inline-menu .notifications-button .icon_wrapper {
  padding: 8px 11px;
}

#eventList .inline-menu .notifications-button .icon {
  background-position: -27px -6px;
  width: 18px;
  height: 12px;
}

#eventList .inline-menu .notifications-button:active .icon {
  background-position: -27px -30px;
}

#eventList .inline-menu .list-button .icon_wrapper {
  padding: 7px 8px;
}

#eventList .inline-menu .list-button .icon {
  background-position: -72px -5px;
  width: 24px;
  height: 14px;
}

#eventList .inline-menu .list-button:active .icon {
  background-position: -72px -29px;
}

#eventList .inline-menu .edit-button .icon_wrapper {
  padding: 6px 11px 6px 10px;
}

#eventList .inline-menu .edit-button .icon {
  background-position: -52px -4px;
  width: 19px;
  height: 16px;
}

#eventList .inline-menu .edit-button:active .icon {
  background-position: -52px -28px;
}

.dashboard-table {
	border-collapse: collapse;
	width: 100%;
}

.dashboard-table td {
	padding: 5px 0;
}

.dashboard-table td:first-child {
	font-weight: bold;
}

.dashboard-table td:last-child {
	text-align: right;
}

.dashboard-table .table-footer {
	font-weight: bold;
	font-size: 18px;
	border-top: 1px solid #888;
}


.table-container {
	margin: 0 20px;
}


.people-attending-list {
	width: 100%;
	border-collapse: collapse;
}

.people-attending-list thead {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}

.people-attending-list thead td {
	border-bottom: 1px solid #888;
}

.people-attending-list tr {
	border-bottom: 1px solid #ccc;
}

.people-attending-list tr:last-child {
	border-bottom: none;
}

.people-attending-list td {
	padding: 8px 0;
}

.back-table td:first-child, .back-table-header td:first-child {
	width: 240px;
	text-align: left;
}

#dashboardList .box-back {
	padding: 5px 20px;
}

#dashboardList .print-list {
margin-top: 4px;
display: block;
float: left;
}

#dashboardList .print-list span {
	color: #333;
	font-weight: 400;
}

#dashboardList .print-list:hover span {
	color: rgba(50, 100, 200, 1);
}

#dashboardList .print-list .icon_wrapper {
	padding: 2px 4px 1px 0;
  display: block;
  float: left;
	line-height: inherit;
}

#dashboardList .print-list .icon {
  display: block;
  float: left;
  background: url(../img/dashboard-sprite.png) no-repeat;
	background-position: -100px -4px;
	width: 16px;
	height: 15px;
}

#listSearch {
	float: right;
	width: 220px;
}

#listSearch input {
	width: 182px;
	margin: 0;
	float: right;
}

#listSearch .search-button {
	width: 26px;
	height: 26px;
	float: right;
}

#listSearch .search-button .icon_wrapper {
  margin: 4px;
}

#listSearch .search-button .icon {
  background: url(../img/dashboard-sprite.png) no-repeat;
  display: block;
  background-position: -99px -27px;
  width: 18px;
  height: 18px;
}

.nav-list {
	margin-top: -38px;
	float: right;
}

.nav-list > span {
	float: left;
	margin-right: 10px;
}

.nav-buttons-container {
	float: left;
}

.nav-button {
	float: left;
	background: #eee;
	border: 1px solid #ccc;
	padding: 0 10px;
	margin-left: -1px;
	font-weight: 700;
}

.nav-button:hover {
	background: #ddd;
}

.nav-button:active, .nav-button:active span {
	background: #888;
	color: #fff;
}

.nav-button:first-child {
	margin-left: 0;
}