body {background-color: #ffffff; margin: 0px; font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 16px;}

section {display: block;}
section:before, section:after {display: table; content: "";}
section:after {clear: both;}

.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after {display: table; content: "";}
.clearfix:after {clear: both;}

.center-text {text-align: center;}

.center {margin: 0 auto;}
.bg-branco {margin: 0 auto; background-color: #ffffff; height: 410px;}
.bg-branco-2 {margin: 0 auto; background-color: #ffffff;}
.bg-orange {margin: 0 auto; background-color: #ff9600; height: 340px;}
.bg-blue {margin: 0 auto; background-color: #0ca8e9; height: 410px;}
.bg-grey {margin: 0 auto; background-color: #4d4d4d; height: 340px;}
.bg-green {margin: 0 auto; background-color: #5aa500; height: 410px;}

.disco {height: 410px;
	background-image: url(../bands-page/img/disco.png);
	background-repeat: no-repeat;
	background-position: right;
	background-position-y: 0;
	margin: 0 auto;}

.page-title-orange {color: #ff9600;
	font-size: 35px;
	text-shadow: 1px 1px #4d4d4d;
	text-align: center;
	margin-top: 100px;
	font-weight: normal;}

.cliente {
	width: 600;
	font-size: 20px;
	color: #4d4d4d;
	font-weight: lighter;
	margin-top: 50px;
	margin-left: 105px;}

.criar-evento {width: 296px;
			height: 66px;
			background-color: #ff9600;
			color: #ffffff;
			float: right;
			font-size: 40px;
			text-align: center;
			margin-top: 20px;}

.criar-evento-2 {width: 500px;
			height: 70px;
			background-color: #ff9600;
			color: #ffffff;
			float: right;
			font-size: 58px;
			font-weight: normal;
			text-align: center;
			margin-top: 50px;
			margin-right: 220px;}

.go-evento { 
	margin-top: 10px;
    color: #ffffff;
    text-align: center;
}

.go-evento-2 { 
    width: 500px;
    height: 70px;
    color: #ffffff;
}

.criar-evento:hover {
	background-color: #e98900;
}

.criar-evento-2:hover {
	background-color: #e98900;
}

.left-title {color: #ffffff;
			font-size: 50px;
			font-weight: bold;
			float: left;
			margin-top: 10px;}

.right-title {color: #ffffff;
			font-size: 50px;
			font-weight: bold;
			float: right;
			margin-top: 10px;}

.blue-content {color: #006e92;
			font-size: 27px;
			width: 580px;
			float: left;
			margin-top: 20px; }

.orange-content {color: #925d00;
			font-size: 27px;
			width: 650px;
			float: right;
			margin-top: 20px;
			text-align: right;}

.green-content {color: #3e6a00;
			font-size: 27px;
			width: 550px;
			float: left;
			margin-top: 20px;
			text-align: left;}

.gray-content {color: #919191;
			font-size: 27px;
			width: 640px;
			float: right;
			margin-top: 20px;
			text-align: right;}

.repasse {color: #ff9600; text-decoration: none;}

.citacao {width: 850px;
		color: #0ca8e9;
		text-align: right;
		font-style: italic;}

.container {width: 960px; margin: 0 auto;}
.container:before, .container:after {display: table; content: "";}
.container:after {clear: both;}
.below-header {margin-top: 65px}
.below-menu-bar {margin-top: 105px}

#BandsPage #findEvents h2, #BandsPage #sellTickets h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
}

#BandsPage #findEvents h4, #BandsPage #sellTickets h4 {
	font-size: 22px;
	font-weight: 400;
}

#BandsPage #findEvents h2, #BandsPage #findEvents h4 {
	color: #ff9600;
}

#BandsPage #sellTickets h2, #BandsPage #sellTickets h4 {
	color: #0ca8e9;
}

#BandsPage .pick-event {
	background: url(../img/pick-event.png) no-repeat right top;
	height: 173px;
	padding-right: 200px;
	padding-top: 90px;
}

#BandsPage .buy-tickets {
	background: url(../img/buy-tickets.png) no-repeat left top;
	height: 151px;
	padding-left: 220px;
	padding-top: 12px;
}

#BandsPage .print-phone {
		background: url(../img/print-phone.png) no-repeat right top;
		padding-right: 165px;
		padding-top: 100px;
}

#BandsPage #findEvents .video {
	padding-top: 20px;
}

#BandsPage .create-event {
	background: url(../img/create-event.png) no-repeat right top;
	padding-right: 100px;
	padding-top: 90px;
}

#BandsPage .social-networks {
	background: url(../img/social-networks.png) no-repeat left top;
	height: 200px;
	padding-left: 130px;
	padding-top: 93px;
}

#BandsPage .receive-money {
	background: url(../img/receive-money.png) no-repeat right top;
/*	height: 200px;*/
	padding-right: 180px;
	padding-top: 51px;
}

#BandsPage #sellTickets .video {
	padding-top: 76px;
}

#BandsPage #sellTickets a, #BandsPage #findEvents a {
	width: 420px;
	height: 40px;
	line-height: 40px;
}

#BandsPage #moip {
		background: url(../img/moip.png) no-repeat right 15px;
		padding-right: 140px;
}


.box-back .table-container {
	margin: 0 20px;
}

.back-table {
	width: 100%;
}

.back-table-header {
	margin-bottom: -10px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}

.back-table tr {
	border-bottom: 1px solid #aaa;
}

.back-table tr:last-child {
	border-bottom: none;
}

.back-table td, .back-table-header td {
	padding: 8px 0;
	width: 90px;
	text-align: center;
}

.back-table td:first-child, .back-table-header td:first-child {
	width: 240px;
	text-align: left;
} 

.tick-icon, .cross-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
}

.tick-icon {
	background: url(../img/tick.png);
}

.cross-icon {
	background: url(../img/cross.png);
}