.home-tile {
	float: left;
	margin: 10px;
	width: 220px;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	position: relative;
}

.home-tile .header {
	background: #333;
	height: 50px;
	color: white;
	text-align: right;
	position: relative;
	text-transform: lowercase;
	padding: 0 4px;
}

.home-tile .header.today .date {
	color: #ff9600;
}

.home-tile p {
	line-height: normal;
	margin: 0;
}

.home-tile .date {
	font-size: 28px;
	line-height: 28px;
}

.home-tile .poster {
	width: 220px;
	height: 294px;
	vertical-align: bottom;
}

.home-tile .friends {
	border-collapse: collapse;
	width: 100%;
	background: #fff;
	height: 44px;
}

.home-tile .pic-container {
	border-left: 4px solid #fff;
	border-top: 4px solid #fff;
	border-bottom: 4px solid #fff;
	width: 36px;
}

.home-tile .pic-container img {
		height: 36px;
		width: 36px;
		vertical-align: bottom;
}

.home-tile .people-attending {
	padding-top: 3px;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	color: #333;
	line-height: 16px;
}

.home-tile .friends .icon {
	display: inline-block;
  background: url(../img/imgoing.png) no-repeat;
	height: 16px;
	width: 20px;
}

.home-tile .info-container {
	width: 220px;
	height: 294px;
	background: #f5f5f5;
	color: #555;
}

.home-tile .title {
	text-transform: uppercase;
	font-size: 36px;
	line-height: 36px;
	font-weight: 300;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 144px;
}

.home-tile .description {
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 38px;
}

.home-tile .info-container table {
	height: 294px;
	border-collapse: collapse;
}

.home-tile .info-container td {
	padding: 10px;
}

.home-tile .info-container .number_of_friends {
	vertical-align: bottom;
	line-height: 24px;
	height: 24px;
	padding-top: 0;
}

.home-tile .info-container .number_of_friends span {
	font-size: 24px;
	font-weight: 400;
}

.buy-ticket {
  background-image: url("../img/ingressos-ribbon.png");
  height: 100px;
  width: 100px;
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: 2;
}